@import (reference) '../../style/variables.less';

.tags {
    .flex-center();
    a {
        margin: @margin-small @margin-small @margin-zero @margin-zero;
        padding: @padding-small / 2 @padding-medium;
        border: @border-medium / 2 solid @color-transparent-darker;
        border-radius: @border-radius-large;
        text-transform: capitalize;
        transition: @transition-time background-color;
        &:hover {
            cursor: pointer;
            background-color: @color-label;
        }
    }
}