@import '../../style/variables.less';

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  margin: @margin-zero;
  border: 2px solid @color-text;
  padding: @padding-medium;
  font-size: @font-size * 1.3;
  transition: @transition-time;
  & :first-child {
    margin-right: @margin-small;
  }
  &:hover {
    box-shadow: 10px 10px 10px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    border-radius: 10px;
    background-color: @color-text;
    color: @color-theme;
    text-shadow: 4px 4px 25px @color-text;
  }
}