@import '../../style/variables.less';

.container {
  width: 90%;
  margin: auto;
}

.title {
  h1 {
    border-bottom: 2px solid;
    font-weight: normal;
    color: @color-text;
    text-align: right;
    text-transform: uppercase;
  }
}