@import '../style/variables.less';

.container {
    display: flex;
    margin-top: @margin-small;
    @media @mobile {
        flex-direction: column;
    }
}

.image {
    max-width: 450px;
    width: 100%;
    margin: auto;
}

.message {
    margin: auto;
    text-align: center;
    a {
        display: block;
        box-shadow: 10px 10px 10px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
        margin: @margin-medium;
        border: 2px solid @color-text;
        padding: @padding-medium;
        font-size: @font-size * 1.3;
        transition: @transition-time;
        &:hover {
            box-shadow: 20px 20px 20px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
            border-color: @color-title;
            background-color: @color-title;
            color: @color-post-text;
            font-weight: bold;
            text-shadow: 4px 4px 25px @color-post-text;
        }
    }
}