@import '../style/variables.less';

.container {
    display: flex;
    margin-top: @margin-small;
    @media @mobile {
        flex-direction: column;
    }
}

.image {
    max-width: 450px;
    width: 100%;
    margin: auto;
}

.message {
    margin: auto;
    text-align: center;
}