@import '../style/variables.less';

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: @margin-small @margin-small @margin-zero @margin-small;
    padding: @padding-zero @padding-small;
    h2 {
        margin: @margin-zero;
    }
}