@import '../style/variables.less';

.post {
    padding: @padding-medium;
    margin: @margin-medium 0;
    display: flex;
    background-color: @color-transparent;
    transition: @transition-time background-color;
    &:hover {
        background-color: @color-transparent-darker;
    }
    h2 {
        margin: @margin-small / 2 0;
        color: @color-secondary;
        font-size: @font-size * 1.5;
        text-transform: uppercase;
    }
    p {
        margin: 0;
    }
}

.preview {
    display: flex;
    align-items: center;
    margin-right: @margin-medium;
    transition: @transition-time;
    > a {
        overflow: hidden;
        & > div {
            transition: @transition-time;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

.postContent {
    display: flex;
    flex-direction: column;
}