@import '../../../style/variables';

.container {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 3px rgba(0,0,0,.5);
    z-index: 2;
    padding: @padding-small @padding-medium;
    background-color: @color-theme;
    background-image: @texture;
    @media @mobile {
        padding: @padding-small @padding-zero;
        flex-direction: column;
    }
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    h1 {
        font-size: @font-size * 1.75;
        margin: @margin-zero;
        padding: @padding-zero @padding-small;
        color: @color-text;
        transition: @transition-time color;
    }
    p {
        margin: @margin-zero;
        transition: @transition-time color;
    }
    &:hover {
        h1 {
            color: @color-title;
        }
        p {
            color: @color-title;
        }
    }
}

.list {
    ul {
        list-style: none;
        display: flex;
        margin: @margin-zero;
        padding: @padding-zero;
        @media @mobile {
            margin-top: @margin-small;
        }
        li {
            margin: @margin-zero @margin-small;
            a {
                text-transform: uppercase;
                transition: @transition-time color;
                @media @desktop {
                    &::before { content: '{ '; color: transparent; }
                    &::after  { content: ' }'; color: transparent; }
                    &:hover {
                        color: @color-title;
                        * { cursor: pointer }
                        &::before, &::after { color: @color-title; }
                    }
                }
            }
        }
    }
}