@import '../../../style/variables';

.container {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 3px rgba(0,0,0,.5);
    z-index: 2;
    padding: @padding-small @padding-medium;
    background-color: @color-theme;
    background-image: @texture;
    & + div {
        margin-top: @margin-medium * 5;
    }
    @media @mobile {
        padding: @padding-small;
        flex-direction: column;
    }
}

.titleContainer {
    display: flex;
    width: 100%;
    align-items: center;
    @media @mobile {
        justify-content: space-evenly;
    }
}

.title {
    text-align: center;
    h1 {
        font-size: @font-size * 1.75;
        margin: @margin-zero;
        padding: @padding-zero @padding-small;
        color: @color-text;
        transition: @transition-time color;
    }
    p {
        margin: @margin-zero;
        transition: @transition-time color;
    }
    &:hover {
        h1, p {
            color: @color-title;
        }
    }
}

.hiddenDescription {
    @media @tablet, @desktop {
        animation: hide-description @transition-time forwards;
    }
}

@keyframes hide-description {
    0% {
        max-height: 100px;
        opacity: 1;
    }
    100% {
        max-height: 0px;
        opacity: 0;
    }
}

.visibleDescription {
    @media @tablet, @desktop {
        animation: show-description @transition-time forwards;
    }
}

@keyframes show-description {
    0% {
        max-height: 0px;
        opacity: 0;
    }
    100% {
        max-height: 100px;
        opacity: 1;
    }
}

.list {
    display: flex;
    ul {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: @margin-zero @margin-medium;
        padding: @padding-zero;
        @media @mobile {
            margin-top: @margin-small;
        }
        li {
            margin: @margin-zero @margin-small;
            a {
                text-transform: uppercase;
                transition: @transition-time color;
                &:hover {
                    cursor: pointer;
                    color: @color-title;
                }
            }
        }
    }
    @media @mobile {
        flex-direction: column;
        margin-top: @margin-small;
    }
}

.menuButton {
    display: none;
    @media @mobile {
        display: block;
        margin-left: @margin-medium;
    }
}

.collapsedMenu {
    @media @mobile {
        animation: collapse @transition-time forwards;
    }
}

@keyframes collapse {
    0% {
        max-height: 200px;
        opacity: .5;
    }
    15% {
        opacity: 0;
    }
    100% {
        max-height: 0px;
        margin: 0px;
        opacity: 0;
    }
}

.expandedMenu {
    @media @mobile {
        animation: expand @transition-time forwards;
    }
}

@keyframes expand {
    0% {
        max-height: 0px;
        opacity: 0;
    }
    85% {
        opacity: .8;
    }
    100% {
        max-height: 200px;
        opacity: 1;
    }
}