@import '../../style/variables.less';

.container {
    margin: @margin-medium @margin-zero @margin-medium * 2 @margin-zero;
}

.header {
    text-align: center;
    display: flex;
    justify-content: space-between;
    background-color: @color-transparent-darker;
    @media @mobile, @tablet {
        flex-direction: column;
    }
}

.title {
    margin: auto;
    padding: @padding-small;
    h1 {
        color: @color-secondary;
    }
    @media @mobile, @tablet {
        padding: @padding-medium @padding-small;
        h1 {
            margin: @margin-small / 2 @margin-zero;
        }
    }
}

.cover {
    min-width: 50%;
    margin: auto @margin-zero auto auto;
    @media @mobile, @tablet {
        width: 100%;
    }
}

.content {
    margin-top: @margin-medium;
    padding: @padding-medium;
    background-color: @color-ternary;
    color: @color-text-primary;
    line-height: 1.6;
    font-size: @font-size * 1.1;
    h1, h2 {
        text-align: center;
        border-bottom: 1px solid @color-quinquennary;
    }
    h2 {
        font-size: @font-size * 2;
    }
    a {
        color: @color-quaternary;
        text-decoration: underline;
    }
    table {
        margin: auto;
        border-spacing: 0px;
        display: block;
        overflow-x: auto;
        td, th {
            padding: @padding-small @padding-medium;
            border: 1px solid @color-quinquennary;
        }
        th {
            text-align: center;
        }
        thead {
            background-color: @color-quinquennary;
            th, td {
                border-width: 1px 1px 0px 0px;
                &:first-child {
                    border-left-width: 1px;
                }
            }
        }
        tbody {
            tr {
                th, td {
                    border-width: 1px 1px 0px 0px;
                    &:first-child {
                        border-left-width: 1px;
                    }
                }
                &:last-child th, &:last-child td {
                    border-bottom-width: 1px;
                }
            }
        }
    }
    :not(pre) > code[class*="language-"] {
        font-family: 'Roboto-Mono';
        padding: .1em;
        border-radius: 0px;
        background-color: @color-quinquennary;
        color: inherit;
    }
    @media @desktop {
        padding: @padding-medium;
        article > * {
            margin-right: @padding-medium * 3;
            margin-left: @padding-medium * 3;
        }
    }
}