@import '../../style/variables.less';

.container {
    margin: @margin-medium @margin-zero @margin-medium * 2 @margin-zero;
}

.header {
    text-align: center;
    display: flex;
    justify-content: space-between;
    @media @mobile {
        flex-direction: column-reverse;
    }
}

.title {
    margin: auto;
    padding: @padding-zero @padding-small;
    h1 {
        color: @color-secondary;
    }
    @media @mobile {
        margin-top: @margin-medium;
        h1 {
            margin: @margin-small @margin-zero;
        }
    }
}

.cover {
    min-width: 40%;
    margin: auto @margin-zero auto auto;
    @media @mobile {
        width: 100%;
    }
}

.content {
    margin-top: @margin-medium;
    padding: @padding-medium;
    background-color: @color-text-secondary;
    color: @color-text-primary;
    word-break: break-all;
    h1, h2 {
        padding-bottom: @padding-small;
        border-bottom: 1px solid @color-ternary;
    }
    code {
        padding: @padding-small / 2;
        background-color: @color-ternary-dark;
    }
    pre {
        overflow-x: scroll;
        overflow-y: hidden;
        code {
            line-height: @text-size-medium * 1.25;
        }
    }
}