@import '../../style/variables.less';

.container {
    margin: @margin-medium @margin-zero @margin-medium * 2 @margin-zero;
}

.header {
    padding: @padding-zero @padding-medium @padding-small @padding-medium;
    text-align: center;
    h1 {
        color: @color-secondary;
    }
}

.content {
    margin-top: @margin-medium;
    padding: @padding-medium;
    background-color: @color-text-secondary;
    color: @color-text-primary;
    word-break: break-all;
    h1, h2 {
        padding-bottom: @padding-small;
        border-bottom: 1px solid @color-ternary;
    }
    code {
        padding: @padding-small / 2;
        background-color: @color-ternary-dark;
    }
    pre {
        overflow: scroll;
        code {
            line-height: @text-size-medium * 1.25;
        }
    }
}