@import '../../style/variables';

.container {
    margin: @margin-zero @margin-medium;
    padding: @padding-medium;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid @color-text-secondary;
    @media @mobile {
        margin: @margin-zero @margin-small;
        padding: @padding-small;
        flex-direction: column;
    }
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    h1 {
        font-size: @font-size * 1.75;
        margin: 0;
        padding: 0 @padding-small;
    }
    p {
        margin: 0;
        padding: 0;
    }
    @media @mobile {
        flex-direction: column;
    }
}

.list {
    ul {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
        @media @mobile {
            margin-top: @margin-small;
        }
        li {
            margin: 0 @margin-small;
            a {
                text-decoration: none;
                text-transform: uppercase;
                .link()
            }
        }
    }
}