@import '../../style/variables';

.container {
    margin: 0 @margin-medium @margin-medium @margin-medium;
    padding: @padding-medium;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid @color-text-secondary;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    @media @mobile {
        flex-direction: column;
    }
    text-align: center;
    h1 {
        font-size: @font-size * 1.75;
        margin: 0;
        padding: 0 @padding-small;
    }
    p {
        margin: 0;
        padding: 0;
    }
}

.list {
    ul {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
        @media @mobile-small {
            flex-direction: column;
        }
        li {
            margin: 0 @margin-small;
            a {
                text-decoration: none;
                text-transform: uppercase;
                .link()
            }
        }
    }
}