@import './variables.less';

@font-face {
    font-family: "Roboto";
    font-weight: normal;
    src: url("./Roboto/Roboto-Regular.ttf") format("opentype");
}

html, body, h1, p {
    font-family: "Roboto" !important;
}

body {
    background-color: @color-primary;
    background-image: @gradient-primary;
    margin: 0;
}