@import './variables.less';

/* Font */
@font-face {
    font-family: "Roboto";
    font-weight: normal;
    src: url("./Roboto/Roboto-Regular.ttf") format("opentype");
}

@font-face {
    font-family: "Roboto";
    font-weight: bold;
    src: url("./Roboto/Roboto-Bold.ttf") format("opentype");
}

/* Basic elements */

html, body {
    font-family: "Roboto" !important;
    color: @color-text-secondary;
}

body {
    background-color: @color-primary;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    a {
        text-decoration: none;
        color: inherit;
    }
}

a {
    text-decoration: none;
    color: inherit;
}