
// Colors
@white: #f4f4f5;
@gray: #adadad; 
@gray-dark: #ebebef;
@black: #20232a;
@blue: #0C2744;
@blue-1: #031C34;
@cyan: #61dafb;
@cyan-darker: #0694b8;
@turquoise: #0A6FC2;
@orange: #FF6611;
@red: #EC1E31;

// Transparent colors
@color-transparent: rgba(0,0,0,.2);
@color-transparent-darker: rgba(0,0,0,.5);

// Colors palette
@color-primary: @blue;
@color-secondary: @cyan;
@color-secondary-darker: @cyan-darker;
@color-ternary: @gray;
@color-ternary-dark: @gray-dark;
@color-text-primary: @black;
@color-text-secondary: @white;

// Gradients
@gradient-primary: linear-gradient(to bottom, #0f2027, @color-primary, #031c27);
@gradient-secondary: linear-gradient(to bottom, #c31432, #240b36);

// Device breakpoints
@mobile: ~'only screen and (max-width : 480px)';
@tablet: ~'screen and (min-device-width : 481px) and (max-device-width : 1024px)';
@desktop: ~'only screen and (min-device-width : 1025px)';

// Typographhy
@font-size: 1em;

// Margin
@margin-zero: 0em;
@margin-small: .5em;
@margin-medium: 1em;

// Padding
@padding-zero: 0em;
@padding-small: 9px;
@padding-medium: 18px;

// Transition
@transition-time: .5s;

// Text
@text-size-medium: 1em;

// Mixins

.link () {
    text-decoration: none;
    color: @color-text-secondary;
    transition: @transition-time color;
    @media @desktop {
        &::before {
            content: '{ ';
            color: transparent;
        }
        &::after {
            content: ' }';
            color: transparent;
        }
        &:hover {
            color: @color-secondary;
            * {
                cursor: pointer;
            }
            &::before, &::after {
                color: @color-secondary;
            }
        }
    }
}
