
// Colors palette
@color-theme: #f7f5f2;
@color-title: #284a6d;
@color-text: #252525;
@color-label: #99a0d8;

// Transparent colors
@color-transparent: rgba(0,0,0,.1);
@color-transparent-darker: rgba(0,0,0,.2);

// Gradients
@gradient-primary: linear-gradient(to bottom, #0f2027, @color-theme, #031c27);
@gradient-secondary: linear-gradient(to bottom, #c31432, #240b36);

// Device breakpoints
@mobile: ~'only screen and (max-width : 480px)';
@tablet: ~'screen and (min-device-width : 481px) and (max-device-width : 1024px)';
@desktop: ~'only screen and (min-device-width : 1025px)';

// Typographhy
@font-size: 1em;

// Margin
@margin-zero: 0em;
@margin-small: 9px;
@margin-medium: 18px;
@margin-large: 36px;

// Padding
@padding-zero: 0em;
@padding-small: 9px;
@padding-medium: 18px;

// Transition
@transition-time: .5s;

// Text
@text-size-medium: 1em;

// Box shadow
@box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);

// Texture
@texture: url('../images/texture-otis-redding.png');
