
// Colors
@white: #f4f4f5;
@gray: #ebebef;
@gray-dark: #adadad; 
@gray-light: #99a0d8;
@black: #20232a;
@blue: #0C2744;
@blue-1: #031C34;
@cyan: #4889b8;
@cyan-darker: #0694b8;
@cyan-gray: #336f7d;
@turquoise: #0A6FC2;
@turquoise-lighter: #0086b3;
@orange: #FF6611;
@red: #EC1E31;

// Transparent colors
@color-transparent: rgba(0,0,0,.2);
@color-transparent-darker: rgba(0,0,0,.5);

// Colors palette
@color-theme: @blue;
@color-title: @cyan;
@color-text: @gray;
@color-label: @cyan-darker;
@color-post-text: @black;
@color-post-line: @gray-light;

// Gradients
@gradient-primary: linear-gradient(to bottom, #0f2027, @color-theme, #031c27);
@gradient-secondary: linear-gradient(to bottom, #c31432, #240b36);

// Device breakpoints
@mobile: ~'only screen and (max-width : 480px)';
@tablet: ~'screen and (min-device-width : 481px) and (max-device-width : 1024px)';
@desktop: ~'only screen and (min-device-width : 1025px)';

// Typographhy
@font-size: 1em;

// Margin
@margin-zero: 0em;
@margin-small: 9px;
@margin-medium: 18px;

// Padding
@padding-zero: 0em;
@padding-small: 9px;
@padding-medium: 18px;

// Transition
@transition-time: .5s;

// Text
@text-size-medium: 1em;

// Box shadow
@box-shadow: 0 4px 3px rgba(0,0,0,.5);

// Texture
@texture: url('../images/texture-otis-redding.png');
