@import (reference) '../../style/variables.less';

.container {
    .flex-center();
}

.buttonLeft {
    margin-right: auto;
    @media @mobile {
        font-size: @font-size;
    }
}

.buttonRight {
    margin-left: auto;
    @media @mobile {
        font-size: @font-size;
    }
}