@import (reference) '../../../style/variables.less';

.container {
    margin-top: @margin-medium * 3;
}

.title {
    margin: @margin-zero;
    font-size: @font-size * 1.4;
    color: @color-title;
    text-align: left;
}