@import '../../style/variables.less';

.containerMosaic {
    @media @desktop {
        display: flex;
        justify-content: space-between;
    }
}

.post {
    display: flex;
    margin: @margin-medium @margin-zero;
    padding: @padding-small;
    background-color: @color-transparent;
    transition: @transition-time background-color;
    &:hover {
        background-color: @color-transparent-darker;
        > div:first-child > a > div {
            transform: scale(1.1) !important
        }
    }
    @media @mobile {
        flex-direction: column;
    }
}

.postMosaic {
    .post();
    @media @desktop {
        flex-direction: column;
        flex: 0 1 50%;
    }
}

.cover {
    overflow: hidden;
    max-width: 30%;
    width: 100%;
    margin: auto;
    & > a > div {
        transition: @transition-time transform;
    }
    @media @mobile {
        max-width: 100%;
    }
    @media @tablet {
        max-width: 40%;
    }
}

.coverHighlighted {
    .cover();
    max-width: 45%;
    @media @tablet {
        min-width: 65%;
    }
}

.coverMosaic {
    .cover();
    @media @desktop {
        max-width: 100%;
        margin: @margin-zero;
    }
}

.content {
    margin: auto @margin-small auto @margin-medium;
    h2 {
        margin: @margin-small / 2 @margin-zero;
    }
    p {
        margin: @margin-zero;
    }
    @media @mobile {
        margin: @margin-small;
    }
}

.contentMosaic {
    .content();
    @media @desktop {
        margin: @margin-small @margin-zero;
    }
}